<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Take Notes App</h1>
            <h3 class="mb-5">
                <em>Securely store all of your Notes</em>
            </h3>
            <a class="btn btn-primary btn-lg" href="/signin">
                Sign-in NOW!
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>